#page-all .content-clients .top-fieldset button {
    background: var(--color-button-secondary);
}


#page-all .content-clients .barber-box {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid rgb(201, 201, 201);
    padding-top: .8rem;
    padding-bottom: .8rem;

}

#page-all .content-clients .barber-box .barber-data {
    display: flex;
    align-items: center;
}

#page-all .content-clients .barber-box .barber-data img {
    height: 5.5rem;
    border-radius: 50%;

    margin-right: 1rem;
}

#page-all .content-clients .barber-box button {
    background-color: var(--color-button-primary);
}

#page-all .content-clients .top-fieldset button:hover,
#page-all .content-clients .barber-box button:hover {
    opacity: 0.8;
}

#page-all .content-clients .barber-data .name-profission p {
    color: var(--color-text-in-secondary); 
}

/*general class*/
.button-base {
    color: #fff;
    border: none;
    padding: .8rem;

    cursor: pointer;

    transition: 0.5s;
}

@media (min-width: 940px){
    #page-all .content-clients {
        width: 50%;
    }
}