/*CSS - Header*/
#page-all .header {
    background-color: var(--color-primary);
}

#page-all .header nav {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

#page-all .header nav img {
    height: 5rem;
}

#page-all .header nav .question {
    width: 2.8rem;
    height: 2.8rem;

    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    background-color: var(--color-button-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    cursor: pointer;
}
