<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/paters/header.css">
    <link rel="stylesheet" type="text/css" href="/css/paters/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/pages/page-landing.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
</head>
<body id="page-all">
    <header class="header">
        <nav>
            <a href="/"><img src="/image/Logo-color.svg" alt="Logo Barber Woords"></a>
            <div class="question">
                <span>?</span>
            </div>
        </nav> 
    </header>
    <main class="content"> 
        <img src="/image/bob.svg" alt="Personagem com barba e bigode estiloso">
        <div class="textAndButton">
            <h1>Dê um Woods no seu visual.</h1>
            <p>Os melhores profissionais, especializados em te deixar no estilo!</p> 
            <a href="/page-barber"> 
                <button class="button-Primary">
                    Agendar Horário
                </button>
            </a>
        </div>
        
    </main>
    <footer class="footer">
        <img src="/image/Logo-footer-white.svg" alt="Logo Barber Woods">
        <p class="color-white">Todos os direitos reservados</p>
    </footer>
</body>
</html>