<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor cadastrado</title>

    <link rel="stylesheet"  href="/css/pages/page-sucess.css">
    <link rel="stylesheet"  href="/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>
<body id="page-sucess">
    <div class="content">
        <div class="icon-sucess"><img src="/image/hand-peace.svg" alt=""></div>
        <h1>Agendamento Concluído!</h1>
        <p>Fique de olho no seu email ou whatsapp. Confirmaremos o seu woods corte. </p>
        <button onclick="window.location.href= '/'">Página Inicial</button>
    </div>
</body>
</html>